
#recepies-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;

}

.card {
    margin: 15px;
}

.close-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
    padding: 0;
    line-height: 19px;
}