
#recipes-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 82%;
    justify-content: center;

}

.card {
    margin: 15px;
    width:25rem;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.33); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.33);
}

.close-btn{
  position: absolute;
  right: -17px;
  top: -10px;
  border-radius: 71%;
  width: 26px;
  padding: 0;
  line-height: 22px;
  -webkit-box-shadow: 0px 0px 8px 3px #FF0000; 
  box-shadow: 0px 0px 8px 3px #FF0000;
}

#badge-container {
    display: flex;
    /* padding: 1rem; */
    width: 80%;
    border: 2px solid #B8C0C2;
    border-radius: .5rem;
    margin: .5rem 0 2rem;
  }
  
  .badge {
    background-color: #B8C0C2;
    /* padding: .5rem; */
    /* margin: 1rem; */
    border-radius: .3rem;
    font-size: .8rem;
    text-align: center;
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
  
  .login img {
    height: 30px;
  }

  .review-user {
    display: flex;
    position: relative;
    top: -10px;
    left: -9px;
    align-items: center;
    margin-bottom: 10px;
  }
  .review-user span {
  padding-left: 10px;
  }
  
  .review-user img {
    border-radius: 50%;
    height: 40px;
    -webkit-box-shadow: 0px 0px 6px 4px rgba(255, 111, 0, 0.997);
    box-shadow: 0px 0px 6px 4px rgba(255, 111, 0, 0.997);
  }


  .heart-icon span{
    font-size:15px;
    color:black;
  }  
  
  .like-container {
    text-align: end;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor:pointer;

  }

  .card-body {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding:0;
    margin:0;
    }

    .card-title {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      margin: 0px 9px 0 16px;
    }

    .calories-wrapper {
      position: absolute;
      top: 6px;
      left: -21px;
      margin:0;
      width: auto;
      height: 40px;
      border-radius: 50%;
      background-color: #d9ff00;
      display: flex;
      align-content: center;
      align-items: center;
      -webkit-box-shadow: 0px 0px 6px 4px rgb(80 255 0 / 81%);
      box-shadow: 0px 0px 6px 4px rgb(80 255 0 / 81%);
    }

    .form-div {
      margin: 70px 40px 0 20px;
    }

    .card-long{
      height: 445px;
    }

    .save-btn{
      margin-top:15px;
    }

    .my-card-body{
      display: block;
      flex-direction: row;
      justify-content: center;
  
    }

    .my-card-div{
      height:400px;
    }

    .my-cards    {
    cursor:pointer;
    }

    span {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    }

    .search-card-body {
      justify-content: space-between;
    }

    .btn-div {
      align-self: center;
    }

    .my-card-title{
      margin-top:8px;
    }